# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.html
*.png

# PyCharm IDE files
.idea/
*.iml
*.iws
.idea_modules/

# VS Code settings
.vscode/

# Environment
venv/
env/
.env

# Other
*.log
.DS_Store 